<h2 class="section-heading mb-5">
  <span class="section-heading-upper">Checking</span>
  <span class="section-heading-lower">Your Order</span>
</h2>
<!-- BUTTON -->

<!-- ITEMS -->
<app-item-order
  *ngFor="let order of orders"
  [item]="order"
  (onRemoveItem)="removeItem(order)"
></app-item-order>
<table class="product-item">
  <thead>
  <tr>
    <th class="h1">Total</th>
    <th class="h1">${{value}}
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <button
        class="btn-danger"
        (click)="onGoBack()"
      ><a class="uwu" href="#main">Go Back</a></button>
    </td>
    <td>
      <button
        class="btn-success"
        (click)="onConfirm()"
      >Confirm</button>
    </td>
  </tr>
  </tbody>
</table>
